
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    color: #555;
}

.logo{
    width: 200px;
}

img{
    max-width: 100%;

}


h1{
    font-size: 55px;
    font-weight: 700;
    margin:.5em 0px;
    color:#333;
}

h2{
    font-size: 38px;
    color: #444;
}

h3{
    font-size: 28px;
}

p{
    margin: 1em 0px;
    line-height: 1.8em;
}

a{
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.main_nav ul {
    display: flex;
    column-gap: 1.6em;
}
.main_nav ul li{
    list-style: none;

}

.center{
    text-align: center;
}


/*  */

.btn{
    background: linear-gradient(to right, #FBA24F,#FF1E1E);
    display: inline-block;
    padding: 20px 40px;
    align-self: flex-start;
    border-radius: 40px;
    box-shadow:  0px 0px 30px rgba(252, 142, 73, 0.5);
    font-weight: 600;
    font-size: 16px;
    color:#fff;
    margin-top:45px;
    transition: .1s ease-in box-shadow,.3s ease-in transform;
    backface-visibility: none;
}
.btn:hover{
    transform: translateY(-5px);
    box-shadow:  0px 10px 30px rgba(252, 142, 73, 0.5);
}


/*  */
header{
    padding: 20px 0px;
    
}
section{
    margin: 60px 0px;
    padding: 30px 0px;
}

.row{
    display: flex;
    margin:30px auto;
    max-width: 1280px;
    width: 90%;
    column-gap: 40px;
    row-gap: 45px;
}

.col{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}

.top{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 0px;
}

.header_col{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_content{
    font-weight: 500;
    font-size: 18px;
}

/*  */
.about_us{
    background-image: url('../images/shapes/7.png');
    padding-bottom: 0px;
}
.person_img_col{
    justify-self: flex-end;
    align-items: center;
}
.person_img{
    height: 420px;
    justify-self: center;
}

/*  */

.middle_content{
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
}

.box{
    box-shadow: 0px 0px 30px rgba(0,0,0,.16);
    padding:30px ;
    border-radius: 20px;
    margin: 10px 0px;
}
.box h3{
    color:#111;
}
.box img{
    margin-bottom: 22px;
}

.box p{
    margin: 1.4em 0px;
}

/*  */

.testomonial .row{
    box-shadow: 0px 0px 30px rgba(0,0,0,.16);
    padding:30px;
    border-radius: 20px;
}

.testomonial .col{
    align-items: center;
}

.testomonial h2{
    color: #333;
}

/*  */
footer{
    background: #000;
    overflow: hidden;
}
footer .col{
    color:#fff;
    width: 100%;
    align-items: center;
}